services:
  db:
    image: postgres:15-alpine
    container_name: my_db_1
    environment:
      POSTGRES_DB: my_db_1
      POSTGRES_USER: my_user
      POSTGRES_PASSWORD: my_pass
    ports:
      - "5432:5432"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U my_user -d my_db_1" ]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: .
    container_name: auth_api
    env_file:
      - ./app/.env
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_data:
